<h3>Get in touch with us</h3>
<div class="container"><img src="assets/images/eenoo.jpg"  alt=""></div>

<!-- <div class="fl-module fl-module-icon-group fl-node-60f6f79f02f65" data-node="60f6f79f02f65">
	<div class="fl-module-content fl-node-content">
		<div class="fl-icon-group">
	<span class="fl-icon">
								<a href="https://www.facebook.com/lostlochspirits" target="_blank" rel="noopener">
							<i class="ua-icon ua-icon-facebook2" aria-hidden="true"></i>
						</a>
			</span>
		<span class="fl-icon">
								<a href="https://twitter.com/lostlochspirits" target="_blank" rel="noopener">
							<i class="ua-icon ua-icon-twitter-with-circle" aria-hidden="true"></i>
						</a>
			</span>
		<span class="fl-icon">
								<a href="https://www.instagram.com/lostlochspirits/" target="_blank" rel="noopener">
							<i class="ua-icon ua-icon-instagram-with-circle" aria-hidden="true"></i>
						</a>
			</span>
	</div>
	</div>
</div> -->


<a href="https://www.facebook.com/lostlochspirits" target="_blank" rel="noopener">
    <i class="ua-icon ua-icon-facebook2" aria-hidden="true"></i>
</a>


<!-- <div class="container">
    <div class="col-md-8 col-sm-12">
         
         <h1>Click below to connect with facebook</h1>
         <a href="https://www.facebook.com/lostlochspirits" class="section-btn btn btn-default smoothScroll"><h4>facebook</h4></a>
    </div>
</div> -->
<div class="container">
    <div class="col-md-8 col-sm-12">
         
         <h1>Click below to connect with Twitter</h1>
         <a href="https://twitter.com/lostlochspirits" class="section-btn btn btn-default smoothScroll"><h4>Twitter</h4></a>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-sm-12">
         
         <h1>Click below to connect with facebook</h1>
         <a href="https://www.facebook.com/lostlochspirits" class="section-btn btn btn-default smoothScroll"><h4>facebook</h4></a>
    </div>
</div>

<div class="container">
    <div class="col-md-8 col-sm-12">
         
         <h1>Click below to connect with instagram</h1>
         <a href="https://www.instagram.com/lostlochspirits/" class="section-btn btn btn-default smoothScroll"><h4>Instagram</h4></a>
    </div>
</div>