


<div>
    <h3>The Murmichan, a wicked Scots fairy and a fitting name for the first Scottish absinthe.</h3>
    <p>
        The name absinthe conjures visions of earless artists and green fairies and no other drink has such an infamous history or a cult like following. From its beginnings in Switzerland during the late 18th century to its bans spurred by the temperance movement during the early 20th century absinthe has been loved by bohemian greats and vilified by others.
        
        Murmichan is produced in a traditional manner using natural botanicals for both flavouring and colouring.
        
        We use a mixture of traditional and Scottish botanicals including grande wormwood, roman wormwood, green aniseed, fennel seed, hyssop, star anise, lemon balm, mint leaves, bramble leaves, lemon thyme and heather flower. We also distil Royal Deeside heather, clover and willow herb honey giving our absinthe a unique taste and mouth feel.
        
        Murmichan is crafted with water from the ancient Pannanich Wells in the Cairngorms. The Wells were first mentioned by the Knights Templar in 1245 as they travelled through the Deeside Valley. Famous for its healing properties the Wells were a favourite of Queen Victoria who wrote passionately about them in her Highland Journals.
        
        Nosed at bottle strength (64% abv) a waft of aniseed immediately makes this spirit unmistakable. Upon further exploration there are sweet notes. The mint and honey come through in time, and the citrus notes of the lemon thyme linger on the nose.</p>


        <div class="container"><img src="assets/images/murmichan.png"  alt=""></div>
</div>
<div>
    <h5> Haroosh – An excited, high spirited, disorderly gathering, a tumult, an uproar, a broil, a “set-to”</h5>
    <p>
       
An Age Old Family Recipe That Embodies The Spirit Of Scottish Flavours, Haroosh originates from the North East of Scotland and has been made by the family for over 100 years. Brambleberries would be foraged every autumn then left to infuse with local honey and whisky, slowly transforming into Haroosh, which has been enjoyed by family and friends for many generations.
    </p>
    <div class="container"><img src="assets/images/haroosh.jpg"  alt=""></div>
</div>
